<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h3>Select a patient to continue.</h3>
    </div>
    <ul class="list-group">
    {% for patient in patients %}
      <li class="list-group-item">
      <a href="/select-patient/{{ patient.id }}">{{ patient.name }}</a>
      </li>
    {% endfor %}
    <ul>
  </div>
</body>
</html>
