<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Diabetes Monograph (Launching...)</title>
    <script src="/static/js/fhir-client.min.js"></script>
    <script>
      FHIR.oauth2.authorize({
        "client_id": "{{ client_id }}",
        "scope":  "{{ scope }}",
        "redirect_uri": "{{ redirect_uri }}"
      });
    </script>
  </head>
  Loading...
</html>
